.header-galeria {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    color: #000;
    text-align: center;
    padding: 15px 0;
    z-index: 1000;
}

.header-galeria h1 {
    font-family: 'Times New Roman', serif;
    font-style: italic;
    font-size: 3em;
    margin-bottom: 5px;
}

.menu-galeria ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-galeria ul li {
    margin: 0 15px;
}

.menu-galeria ul li a {
    color: #0022cc;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.galeria-container {
    padding: 200px 60px 60px;
    background: #fff;
    text-align: center;
}

.fila {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 40px;
    background-color: 726a47;
}

.imagen {
    width: 280px;
    text-align: center;
}

.imagen img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(100%);
    transition: all 0.4s ease;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.imagen img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.imagen p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #5a4b2c;
}

.redes-galeria {
    text-align: center;
    margin-top: 30px;
}

.redes-galeria a {
    color: #000;
    font-size: 1.6em;
    margin: 0 10px;
    transition: 0.3s;
}

.redes-galeria a:hover {
    color: #d3a15e;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    font-size: 0.9em;
}
