* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, html {
    height: 100%;
}

.fondo {
    background: url(https://www.somoselcafe.com.ar/img/novedades/47.webp) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 60px;
    border-radius: 10px;
}

.contenido h1 {
    font-size: 4em;
    text-transform: lowercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.contenido p {
    font-size: 1.2em;
    margin-bottom: 25px;
}

.menu {
    margin-bottom: 25px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #d3a15e;
}

.redes a {
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s;
}

.redes a:hover {
    color: #d3a15e;
}
