.header-videos {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    color: #000;
    text-align: center;
    padding: 15px 0;
    z-index: 1000;
}

.header-videos h1 {
    font-family: 'Times New Roman', serif;
    font-style: italic;
    font-size: 3em;
    margin-bottom: 5px;
}

.menu-videos ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-videos ul li {
    margin: 0 15px;
}

.menu-videos ul li a {
    color: #0022cc;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.menu-videos ul li a:hover {
    text-decoration: underline;
    color: #000;
}

.videos-container {
    padding: 200px 60px 60px;
    background: #fff;

}

.videos-section {
    max-width: 900px;
    margin: 0 auto;
    color: #222;
}

.videos-section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #000;
}

.videos-section p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.redes-videos {
    text-align: center;
    margin-top: 40px;
}

.redes-videos a {
    color: #000;
    font-size: 1.6em;
    margin: 0 10px;
    transition: 0.3s;
}

.redes-videos a:hover {
    color: #d3a15e;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    font-size: 0.9em;
}

h2{
    text-align: center;
}
